body {
  margin: 0;
  padding: 0;
  font-family: "Anton", sans-serif;
  height: 100vh;
}
a {
  text-decoration: none;
  color: #ece9de;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
  background-color: #25274d;
  color: #ece9de;
}
.menu {
  display: flex;
  padding-left: 0;
}
.menu li {
  list-style: none;
  padding: 12px 12px;
}
.menu li:hover {
  background-color: #d4bb60;
  border-radius: 5px;
}

.sns {
  list-style: none;
  font-size: 24px;
  padding-left: 0;
}
.toggleBtn {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 20px;
}
@media (max-width: 700px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .menu li {
    width: 100%;
    text-align: center;
  }
  .sns {
    display: none;
    /* display: flex; */
    justify-content: center;
    width: 100%;
  }
  .toggleBtn {
    /* position: absoulte; */
    display: block;
  }

  .menu.active,
  .sns.active {
    display: flex;
  }
}

/* img {
  width: 500px; */
}
section {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
section #slider{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover ;
}
section .chooseImg{
    position: absolute;
    /* bottom: 10px; */
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    display: flex;

}
section .chooseImg li{
    list-style: none;
    cursor: pointer;
    margin: 10px ;
}

section .chooseImg li img{
    width: 100px;
    border: 1px solid #fff;
    border-radius: 4px;
}

section h2{
    position: relative;
    z-index: 100;
    font-size: 4em;
    color: #fff;
    text-align: center;
    max-width: 1000px;
    text-shadow: 0 5px 10px rgba(0,0,0,0,2);
}